@import './icons.css';

:root {
  --black: #0a0908ff;
  --white: #f2f4f3ff;
  --highlight: #EA9010;
  --highlight-weak: #e5b065;
  --beaver: #a9927dff;
  --walnut-brown: #5e503fff;

  --mainPadding: 100px;
  --mainTopBottomPadding: 20px;
  --footerHeight: 100px;

  --navTitleSize: 1.3rem;
  --navPadding: 20px;
  --navTextPadding: 8px;
}

@media screen and (max-width: 900px) {
  :root {
    --mainPadding: 40px;
  }
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--white);
  color: var(--black);
}

body {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;  
}

a {
  color: inherit;
  text-decoration: none;
}