.centerer {
    width: min(500px, 80%);
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: column;
    padding: 3em 0;
    gap: 1em;
}

.centerer > header > h2 {
    margin-bottom: 0em;
}

.centerer > header > h3 {
    margin-top: 0em;
    font-weight: normal;
}

.centerer > main {
    width: 100%;
}

.rankingTable {
    width: 100%;
    text-align: left;
    border-spacing: 0;
}


.tableRow {
    display: flex;
    flex-direction: column;
}

.tableRow:nth-child(even) {
    background-color: #ebebeb !important;
}

.tableValues {
    display: flex;
    flex-direction: row;
}

.tableValues > div {
    display: flex;
    flex: 2;
    align-items: center;
}

.tableValues > * {
    padding: 0.5em;
}

.tableHeaders {
    font-weight: bold;
}

.score {
    flex: 1 !important;
}

.info {
    color: var(--walnut-brown);
    font-size: 0.9em;
    text-align: end;
}

.collapsible {
    display: block;
    padding: 0.5em;
    margin: 0.5em;
    border-top: 1px solid #64564e4b;
    height: 100%;
}

.collapsed {
    display: none !important;
}

.collapseRow:hover {
    background-color: #e5e1e1 !important;
    cursor: pointer;
}