#imgDiv {
    width: 500px;
    overflow-y: hidden;
}

#imgDiv > p {
    margin-top: 8px;
    float: right;
}

#img {
    width: 100%;
    border: 2px solid var(--black);
    overflow-y: hidden;
}

#imgText {
    display: flex;
    flex-direction: row;
    gap: 30px;
    overflow-y: hidden;
}

#textDiv {
    flex: 1;
    display: flex;
    gap: 1em;
    flex-direction: column;
    overflow-y: hidden;
}

#textDiv a {
    color: var(--highlight)
}

@media screen and (max-width: 900px) {
    #imgDiv {
        width: min(100%, 500px);
    }
    #img {
        width: 100%;
    }
    
    #imgText {
        padding-left: 20px;
        padding-right: 20px;
        flex-direction: column;
    }
}